header {
  background-color: var(--primary-color);
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  p {
    text-align: center;
    margin-bottom: 1rem;
  }
}
.filters {
  display: flex;
  gap: 1rem;
  justify-content: center;
  li {
    button {
      padding: 0.25rem;
    }
  }
}

article {
  display: flex;
  max-width: 60%;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
.product {
  padding: 0.5rem;
  padding-top: 1rem;
  max-width: 40%;
  background-color: var(--primary-color);
  * {
    padding: 0.25rem;
  }
  img {
    display: block;
    margin: 0 auto;
    height: auto;
    max-width: 90%;
    border: 2px groove var(--black);
    padding: 0;
  }
  figcaption {
    margin: 0.6rem;
    font-size: 1.2rem;
  }
  p,
  span {
    padding: 0.125rem;
  }
  .product-details {
    border: 1px dashed var(--black);
    margin: 1rem;
  }
  button {
    display: block;
    margin: 0.5rem auto;
    background-color: var(--white);
  }
}
figcaption {
  text-align: center;
  font-weight: 800;
}

.price {
  span {
    color: var(--secondary-color);
  }
}

.product-display {
  display: flex;
  gap: 1rem;
}

.details {
  width: 100%;
  background-color: var(--primary-color);
  padding-top: 2rem;
  .undefined {
    margin: 0 auto;
    width: fit-content;
    padding: 0.5rem;
    margin-top: 10rem;
    text-align: center;
    border: 1px dotted var(--black);
  }
  .product {
    max-width: 85%;
    margin: 0 auto;
  }
}
